.displayData

{


    background-color: rgb(172, 185, 180);
width: 100vw;
height: 100vh;
 position: fixed;
 top: 0;
 z-index: 1;
justify-content: center;
 display: flex;


}
 

 
.displayDataChild span{

    width: 400px;
    color: rgb(0, 0, 0);
display: flex;
flex-direction: column;

}

.charactername
{

    font-size: 40px;
    padding: 20px;




}
