.HeaderLinks

{
background-color: #ed1d24;
display: flex;
flex-direction: row;
justify-content: space-between;
 align-content: center;
}

 .LINKS{

text-decoration: none;

padding: 10px;
margin:10px;

  }
    .LINKS img {

width: 200px;
height: 90px;
    max-width: 100%;
    margin: 20px;
      } 


  /* #comicsId img

  {
font-style: italic;
    background-color:#ed1d24;
    font-size: 10px;
    width: 100px;
    height: 90px; 
    }

    #characterId
    {
      font-style: italic;
          background-color:#ed1d24;
          font-size: 10px;
          width: 100px;
          height: 90px; 
          } */