*{

    padding: 0%;
    margin: 0;
}

/*  
.MainImg

{


 
    width: 100vw;
    height: 500px;
    object-fit: cover;
} */
/* object-position: center center; */
 

.HeroSec
{

    background-image: url("https://img.wallpapersafari.com/desktop/1600/900/99/81/1tiH3O.jpg");
height: 400PX;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
width: 100vw;

 }

 