*{

    padding: 0%;
    margin: 0;
}

/*  
.MainImg

{


 
    width: 100vw;
    height: 500px;
    object-fit: cover;
} */
/* object-position: center center; */
 

.HeroSec
{

    background-image: url("https://img.wallpapersafari.com/desktop/1600/900/99/81/1tiH3O.jpg");
height: 400PX;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
width: 100vw;

 }

 .HeroSec input  {


    width:30%;
    height: auto;
font-size: 35px;
opacity: 0.9;
color: red;
 background-color: black;
 border-color: black;
align-items: center;



}

.displayData img

{
width: 300px;
height: 300px;
display: flex;
align-content: center;
  
}